.heading-pri, .heading-sec, .heading-ter {
    font-family: $fp;
    font-weight: 300;
    padding: 1rem;
}

.heading-pri {
    font-size: 6rem;
    text-align: center;
    color: $cw;
    text-transform: uppercase;
    
    @include respond(phone){
        font-size: 5rem;
    }
}

.heading-sec{
    font-size: 4rem;
    
    @include respond(phone){
        font-size: 3rem;
    }
}

.heading-ter{
    font-size: 3rem;
    
    @include respond(phone){
        font-size: 2rem;
    }
}