.heading-pri, .heading-sec, .heading-ter {
    font-family: $fp;
    font-weight: 300;
    padding: 1rem;
}

.heading-pri {
    font-size: 6rem;
}

.heading-sec{
    font-size: 4rem;
}

.heading-ter{
    font-size: 3rem;
}