@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

// COLORS
$cp: #F9690E;
$cp-l: #FA8840;
$cp-d: #CF5305;

$cg-l-1: #f7f7f7;
$cg-l-2: #eee;

$cg-d-1: #999;
$cg-d-2: #777;
$cg-d-3: #333;

$cw: #fff;
$cb:#000000;

// FONTS 
$fs: 'Merienda', cursive;
$fp: 'Ubuntu', sans-serif;