.trending{
    &__heading-box {
        margin-top: 15rem;
        margin-bottom: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: max-content;
        
    }
    
    &__heading{
        margin-right: 2rem;
        text-align: center;
        color: $cw;
        text-transform: uppercase;
    }
    
    
    &__heading-icon {
        fill: $cp;
        width: 5rem;
        height: 5rem;
    }
    
    &__movies{
        display: grid;
        padding: 0 5rem;
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
        column-gap: 4rem;
        row-gap: 6rem;
        justify-items: center;
        
        @include respond(tab-land) {
            column-gap: 2rem;
        }
    }
}
