.trending{
    position: relative;
    min-height: 100vh;
    padding-bottom: 4rem;
    
    &__heading-box {
        margin-top: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: max-content;
    }
    
    &__heading{
        margin-right: 2rem;
        text-align: center;
        color: $cw;
        text-transform: uppercase;
    }
    
    &__heading-icon {
        fill: $cp;
        width: 5rem;
        height: 5rem;
        
        @include respond(phone){
            width: 4rem;
            height: 4rem;
        }
    }
    
    &__btn{
        position: fixed;
        bottom: 4rem;
        right: 4rem;
        z-index: 5;
    }
    
    &__loader-container {
        min-height: 50vh;
    }
    
    &__loader {
        @include absCenter;
    }
    
    &__movies{
        margin: 5rem 0;
        display: grid;
        padding: 0 5rem;
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
        column-gap: 4rem;
        row-gap: 6rem;
        justify-items: center;
        
        @include respond(tab-land) {
            column-gap: 2rem;
        }
    }
}
