.wishlist{
    position: relative;
    min-height: 100vh;
    padding-bottom: 4rem;
    
    &__heading-box {
        margin-top: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: max-content;
    }
    
    &__heading{
        margin-right: 2rem;
    }
    
    &__emptyBox{
        color: $cw;
        text-align: center;
        margin: 4rem 0;
    }
    
    &__btn{
        position: fixed;
        bottom: 4rem;
        right: 4rem;
        z-index: 5;
    }
}