.card{
    &__movie{
        position: relative;
        width: 35rem;
        height: 52rem;
        overflow: hidden;
        cursor: pointer;
        box-shadow: $bs-md-d;
    }
    
    &__imgDiv{
        height: 100%;
        width: 100%;
    }
    
    &__img{
        object-fit: fill;
        height: 100%;
        width: 100%;
    }
    
    &__overlay{
        position: absolute;
        bottom: 0;
        right: 0;
        clip-path: circle(50% at 100% 100%);
        
        &--1{
            height: 10rem;
            width: 10rem;
            background-color: rgba(transparent, .8);
            transition: all .7s .4s;
            
            &-active{
                height: 130rem;
                width: 130rem;
            }
        }
        
        &--2{
            height: 15rem;
            width: 15rem;
            background-color: rgba(transparent, .55);
            transition: all .7s .2s;
            
            &-active{
                height: 130rem;
                width: 130rem;
            }
        }
        
        &--3{
            height: 20rem;
            width: 20rem;
            background-color: rgba(transparent, .3);
            transition: all .7s;
            
            &-active{
                height: 130rem;
                width: 130rem;
            }
        }
    }
    
    &__content{
        color: $cw;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 2rem;
        visibility: hidden;
        opacity: 0;
        transition: all 1.3s;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        &--active{
            visibility: visible;
            opacity: 1;
        }
    }
    
    &__title{
        font-family: $fp;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        font-size: 4rem;
    }
    
    &__btn {
        color: $cb;
    }
    
    &__rating-box {
        position: relative;
        height: 15rem;
        display: flex;
        align-items: center;
    }
    
    &__rating-star {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -52.5%);
        
        height: 15rem;
        width: 15rem;
        opacity: .3;
    }
    
    &__rating{
        font-family: $fq;
        font-weight: 200;
        font-size: 5rem;
    }
}