.nav {
    @include bg-gradient;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 3rem;
    justify-content: space-between;
    height: 9rem;
    box-shadow: $bs-md-m;
    z-index: 3;
    
    &__logo-box {
        height: 5.5rem;
        width: 5.5rem;
    }
    
    &__logo{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    &__brand-box {
        
    }
    
    &__brand {
        color: $cp;
        font-size: 6rem;
        font-weight: 400;
        font-family: $ft;
        letter-spacing: 7px;
        margin-top: 7px;
    }
    
    &__ham{
        cursor: pointer;
        width: 5.5rem;
        height: 5.5rem;
        border: 2px solid $cp-d;
        border-radius: 50%;
        position: relative;
        background-color: $cp-d;
        
        &::after{
            content: '';
            position: absolute;
            top: -5%;
            left: -5%;
            height: 110%;
            width: 110%;
            border-radius: 50%;
            border: 2px solid $cp;
            animation: hamburger_pulse 1s infinite;
        }
        
        &-icon{
            @include absCenter;
            
            display: block;
            background-color: $cb;
            position: relative;
            transition: all .5s ease-in-out;
            
            &--off{
                width: 30px;
                height: 2.5px;
                
                @include respond(tab-port){
                    width: 22px;
                    height: 2px;
                }
                @include respond(phone){
                    width: 18px;
                }
            }
            
            &--on{
                width: 18px;
                height: 2.5px;
                
                @include respond(tab-land){
                    height: 2px;
                    width: 14px;
                }
            }
            
            // BEFORE PSEUDO ELEMENT
            &::before{
                content: "";
                background-color: $cb;
                height: 100%;
                position: absolute;
                transition: all .5s ease-in-out;
            }
            
            &--off.nav__ham-icon::before{
                width: 30px;
                bottom: 8px;
                left: 0;
                
                @include respond(tab-port){
                    width: 22px;
                }
                @include respond(phone){
                    bottom: 6px;
                    width: 18px;
                }
            }
            
            &--on.nav__ham-icon::before{
                width: 18px;
                bottom: 8px;
                left: 4px;
                
                @include respond(phone){
                    bottom: 6px;
                    width: 14px;
                    left: 3px;
                }
            }
            
            // AFTER PSEUDO ELEMENT
            &::after{
                content: '';
                background-color: $cb;
                height: 100%;
                position: absolute;
                transform-origin: left bottom;
                transition: all .5s ease-in-out;
            }
            
            &--off.nav__ham-icon::after{
                width: 30px;
                top: 8px;
                left: 0;
                transform: rotate(0);
                
                @include respond(tab-port){
                    width: 22px;
                }
                @include respond(phone){
                    top: 6px;
                    width: 18px;
                }
            }
            
            &--on.nav__ham-icon::after{
                width: 18.5px;
                top: 8px;
                left: 0;
                transform: rotate(-75deg);
                
                @include respond(phone){
                    top: 6px;
                    width: 14px;
                }
            }
        }
    }
}