.sidebar {
    height: calc(100vh - 9rem);
    overflow: hidden;
    position: fixed;
    top: 9rem;
    right: 0;
    width: 35rem;
    background: linear-gradient(-15deg, $cb 1.5%, $cp, $cb 98.5%);
    transition: all .5s ease-in-out;
    z-index: 3;
    box-shadow: -1rem 0 1rem rgba($cb, 0.4), -1rem 0 1rem rgba($cb, 0.4);
    
    &__on{
        right: 0;
    }
    
    &__off{
        right: -36rem;
    }
    
    &__menu{
        height: 100%;
        
        &-list {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 100%;
        }
        
        &-item {
            width: 120%;
            padding: 1rem 2rem;
            margin: 2rem 0;
            background-color: $cb;
            transform: rotate(-15deg) translateX(-10%);
            text-align: center;
            transition: all .5s;
            overflow: hidden;
        }

        &-link{
            text-decoration: none;
            color: $cp;
            font-size: 5rem;
            position: relative;
            
            @include respond(tab-land) {
                font-size: 4rem;
            }
        }
    }
}